* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header div.main-bar {
    display: flex;
    
}

header div section.vector {
position: absolute;
top: 44px;
right: 1303px;
left: 104px;
bottom: 112px;

}

header div section.store-name h1 {
position: absolute;
top: 42px;
right: 1083px;
left: 145px;
bottom: 106px;

font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 36.3951px;
line-height: 44px;
letter-spacing: -0.01em;

color: #C92071;
}

header div section.search input {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;

    letter-spacing: 0.75px;

    color: red;
    opacity: 0.6;



    position: absolute;
    width: 559px;
    height: 60px;
    
    top: 34px;
    right: 497px;
    bottom: 98px;
    left: 384px;
    

    background: #474747;
    opacity: 0.04;
    border-radius: 8px;

}

header div section.sign-up a {
    position: absolute;
    width: 102px;
    height: 28px;
   
    top: 50px;
    right: 347px;   
    bottom: 114px;
    left: 991px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
   
    text-decoration-line: underline;

    color: #474747;
   
}

header div section.login button {

width: 114px;
height: 40px;


font-family: 'Inter', sans-serif;
color: #F5F5F5;

position: absolute;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 22px;

top: 44px;
right: 203px;
bottom: 108px;
left: 1123px;

text-align: center;
letter-spacing: 0.75px;

background: #C92071;
border-radius: 8px;
border: #C92071;

}

header div section.cart {
    position: absolute;
    top: 55.25px;
    right: 111.75px;
    left: 1309.75px;
    bottom: 123.26px;
}
